body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background: #f0f0f0 url('//img/boardgamesBG.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    background-color: #f0f0f0; /* Fallback color in case the image is not fully covered */
}

nav {
    max-width: 600px;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #333;
}

h2 {
    color: red;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.hero {
    margin-top: 50px;
}

.hero .logo {
    width: 140px;
    display: block;
    margin: 0 auto;
}

.hero .message {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.cta {
    padding: 20px 0;
}

.cta a {
    color: #FFF;
    text-decoration: none;
    background-color: #3498db;
    padding: 12px;
    margin: 8px;
    border-radius: 4px;
    font-weight: 600;
    display: inline-block;
}

.cta a:hover {
    background-color: #2980b9;
}

tr:hover {
    background-color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: #FFF;
    }

    a {
        color: #8AB4F8;
    }

    a:visited {
        color: #b48af8;
    }

    .cta a {
        color: white;
    }

    table {
        border-color: #555;
    }

    th {
        background-color: #555;
    }
}
