<!DOCTYPE html>
<html>

<head>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <h1>Add a Member</h1>
  <h3 style="color: red;">Enter Details for the new Member and click Submit </h3>
  <hr />

  {%- for category, message in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-danger">
    {{ message }}
  </div>
  {%- endfor %}

<form action="{{ request.path }}" method="post" style="max-width: 400px; margin: 20px auto;">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Ivan" />

    <label for="gender">Gender</label>
    <input type="text" name="gender" placeholder="Male" />

    <label for="membershipYears">Membership Years</label>
    <input type="text" name="membershipYears" placeholder="12" />

    <label for="phone">Phone</label>
    <input type="text" name="phone" placeholder="123456" />

    <label for="status">Status</label>
    <input type="text" name="status" placeholder="Pro" />

    <label for="gamesWon">Games Won</label>
    <input type="text" name="gamesWon" placeholder="112" />

    <label for="favoriteGame">Favorite Game</label>
    <input type="text" name="favoriteGame" placeholder="Chess" />

    <label for="highestScore">Highest Score</label>
    <input type="text" name="highestScore" placeholder="123" />

    <input type="submit" value="Submit" />
  </form>

</body>

</html>
