<!DOCTYPE html>
<html>

<body>

  <h1>Add a Member</h1>
  <h3 style="color: red;">Enter Details for the new Member and click Submit </h3>
  <hr />

  {%- for category, message in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-danger">
    {{ message }}
  </div>
  {%- endfor %}

  <form action="{{ request.path }}" method="post">
    <label for="name">Name</label><br>
    <input type="text" name="name" placeholder="Ivan" /><br>

    <label for="gender">Gender</label><br>
    <input type="text" name="gender" placeholder="Male" /><br>

    <label for="membershipYears">Membership Years</label><br>
    <input type="text" name="membershipYears" placeholder="12" /><br>

    <label for="phone">Phone</label><br>
    <input type="text" name="phone" placeholder="123456" /><br>

    <label for="status">Status</label><br>
    <input type="text" name="status" placeholder="Pro" /><br>

    <label for="gamesWon">Games Won</label><br>
    <input type="text" name="gamesWon" placeholder="112" /><br>

    <label for="favoriteGame">Favorite Game</label><br>
    <input type="text" name="favoriteGame" placeholder="Chess" /><br>

    <label for="highestScore">Highest Score</label><br>
    <input type="text" name="highestScore" placeholder="123" /><br>

    <input type="submit" value="Submit" />
  </form>

</body>

</html>
