<!DOCTYPE html>
<html>
   <body>

      <h1>Increment Student Age 2</h1>

      <h3 style="color: red;">Details about the Student whose Age you want to Increment</h3>
      <hr/>
       <h2> {{ member.name }}</h2>
      <form action="{{ request.path }}" method="post">

            <label for="name">Name</label><br>
            <input type="text" name="name" placeholder="Name" value="{{ member.name }}" /><br>

            <label for="gender">Gender</label><br>
            <input type="text" name="gender" placeholder="Gender" value="{{ member.gender }}" /><br>

            <label for="status">Status</label><br>
            <input type="text" name="status" placeholder="Status" value="{{ member.status }}" /><br>

            <label for="membershipYears">Membership Years</label><br>
            <input type="text" name="membershipYears" placeholder="Membership Years" value="{{ member.membershipYears }}" /><br>

          <input type="submit" value="Confirm Increment" />
      </form>

      <h2 style="color: red;">Return to Opening Page (<a href="{{ url_for('opening2') }}">Return</a>)</h2>

   </body>
</html>
