<!DOCTYPE html>
<html>

<body>

  <h1>Members Table - Add Initial Data</h1>
  <h3 style="color: red;">Please confirm that you want to add some initial data to the Members Table</h3>

  <hr/>

  {%- for category, message in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-danger">
    {{ message }}
  </div>
  {%- endfor %}

  <form action="{{ request.path }}" method="post">
    <input type="submit" value="Confirm Add Initial Data" class="btn btn-primary" />
</form>

  <h3>Return to Opening Page (<a href="{{ url_for('opening2') }}">Return</a>)</h3>

</body>

</html>

