<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <h1 style="text-align: center;">Members Table - Add Initial Data</h1>
  <h3 style="color: red; text-align: center;">Please confirm that you want to add some initial data to the Members Table</h3>

  <hr/>

  {%- for category, message in get_flashed_messages(with_categories=true) %}
  <div class="alert">
    {{ message }}
  </div>
  {%- endfor %}

<form action="{{ url_for('initial_table_data') }}" method="post" style="max-width: 400px; margin: 20px auto;">
    <input type="submit" value="Confirm Add Initial Data" class="btn btn-primary" />
  </form>

  <h3 style="text-align: center;">Return to Opening Page (<a href="{{ url_for('index') }}">Return</a>)</h3>

</body>

</html>
