<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h1>Students Table </h1>
      <h2 style="color: red;">List of Students in Table Form </h2>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}



      <style>
      th, td {
         border-style:solid;
         border-color: #96D4D4;
      }
      </style>



      <table style="width:60%">
         <thead>
            <tr>
               <th>Name</th>
               <th>Gender</th>
               <th>Membership Years</th>
               <th>phone</th>
               <th>Status</th>
               <th>Games Won</th>
               <th>Favorite Game</th>
               <th>HighestScore</th>
            </tr>
         </thead>

         <tbody>
            {% for student in students %}
               <tr>
                  <td>{{ student.name }}</td>
                  <td>{{ student.gender }}</td>
                  <td>{{ student.membershipYears }}</td>
                  <td>{{ student.phone }}</td>
                   <td>{{ student.status }}</td>
                  <td>{{ student.gamesWon }}</td>
                  <td>{{ student.favoriteGame }}</td>
                  <td>{{ student.highestScore }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

      <h3>Add a New Student (<a href = "{{ url_for('new') }}">Add_Student
         </a>)</h3>

      <h3>Return to Opening Page (<a href = "{{ url_for('opening2') }}">Return
         </a>)</h3>

   </body>
</html>
